

<div class="row">
  <div class="col-md-12 pt-5">
    <mat-card>
      <mat-card-content>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <img style="border-radius: 2%" src="../../assets/mcaylak.png" width="225" height="215">
            </div>
            <div class="col-md-6">
              <div class="row">
                <span><b>Muhammed Recep ÇAYLAK</b></span>
              </div>
              <div class="row">
                <p>Yaklaşık 2 yıldır profesyonel olarak yazılım sektöründe bulunmaktayım. Daha çok web uygulamaları geliştirmekle beraber masaüstü ve mobil uygulamalarda geliştiriyorum. İş hayatıma full stack web geliştiricisi olarak Winyoung Bilgi ve İletişim Aş. ' de başladım daha sonra buradan ayrılarak FameThings Aş. ' de yine full stack web geliştiricisi olarak devam ettim. Şuanda yarı zamanlı olarak CMV Teknoloji Aş. ' de çalışmaktayım. Aynı zamanda Sakarya üniversitesi bilgisayar mühendisliği son sınıf öğrencisiyim.  </p>
              </div>
              <div class="row">
                <div style="color: darkorange; padding-right: 10px; padding-top: 10px" matTooltip="HTML5">
                  <fa-icon [icon]="['fab', 'html5']" size="2x"></fa-icon>
                </div>
                <div style="color: red; padding: 10px" matTooltip="ANGULAR">
                  <fa-icon [icon]="['fab', 'angular']" size="2x"></fa-icon>
                </div>
                <div style="color: blue; padding: 10px" matTooltip="CSS3">
                  <fa-icon [icon]="['fab', 'css3']" size="2x"></fa-icon>
                </div>
                <div style="color: blueviolet; padding: 10px" matTooltip="NODE.JS">
                  <fa-icon [icon]="['fab', 'node-js']" size="2x"></fa-icon>
                </div>
                <div style="color: darkgoldenrod; padding: 10px" matTooltip="REACT.JS">
                  <fa-icon [icon]="['fab', 'react']" size="2x"></fa-icon>
                </div>
                <div style="color: green; padding: 10px" matTooltip="VUE.JS">
                  <fa-icon [icon]="['fab', 'vuejs']" size="2x"></fa-icon>
                </div>
              </div>
            </div>
            <div class="col-md-3 pt-4 pl-4">
              <div class="row">
                <div class="col-md-1">
                  <a href="https://github.com/mcaylak">
                    <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pt-1 pl-4">
                  <b>mcaylak</b>
                </div>
                <div class="col-md-1">
                  <a href="https://twitter.com/_mcaylak">
                    <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pt-1 pl-4">
                  <b>_mcaylak</b>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <a href="https://www.linkedin.com/in/mcaylak/">
                    <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pt-1 pl-4">
                  <b>mcaylak</b>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <a href="https://www.facebook.com/recep642">
                    <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pt-1 pl-4">
                  <b>recep642</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12 pt-5">
    <mat-card>
      <mat-card-content>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <img style="border-radius: 2%" src="../../assets/aytek.jfif" width="225" height="215">
            </div>
            <div class="col-md-6">
              <div class="row">
                <span><b>Aytekin ERLALE</b></span>
              </div>
              <div class="row">
                <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.</p>
              </div>
              <div class="row">
                <div style="color: darkorange; padding-right: 10px; padding-top: 10px" matTooltip="HTML5">
                  <fa-icon [icon]="['fab', 'html5']" size="2x"></fa-icon>
                </div>
                <div style="color: red; padding: 10px" matTooltip="ANGULAR">
                  <fa-icon [icon]="['fab', 'angular']" size="2x"></fa-icon>
                </div>
                <div style="color: blue; padding: 10px" matTooltip="CSS3">
                  <fa-icon [icon]="['fab', 'css3']" size="2x"></fa-icon>
                </div>
                <div style="color: blueviolet; padding: 10px" matTooltip="NODE.JS">
                  <fa-icon [icon]="['fab', 'node-js']" size="2x"></fa-icon>
                </div>
                <div style="color: darkgoldenrod; padding: 10px" matTooltip="REACT.JS">
                  <fa-icon [icon]="['fab', 'react']" size="2x"></fa-icon>
                </div>
                <div style="color: green; padding: 10px" matTooltip="VUE.JS">
                  <fa-icon [icon]="['fab', 'vuejs']" size="2x"></fa-icon>
                </div>
              </div>
            </div>
            <div class="col-md-3 pt-4 pl-4">
              <div class="row">
                <div class="col-md-1">
                  <a href="https://github.com/aytekin">
                    <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pt-1 pl-4">
                  <b>aytekin</b>
                </div>
                <div class="col-md-1">
                  <a href="https://twitter.com/aytekjs">
                    <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pt-1 pl-4">
                  <b>aytekjs</b>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <a href="https://www.linkedin.com/in/aytekinerlale/">
                    <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pt-1 pl-4">
                  <b>aytekinerlale</b>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <a href="https://www.facebook.com/aytekinerlale0">
                    <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
                  </a>
                </div>
                <div class="col-md-10 pt-1 pl-4">
                  <b>aytekinerlale0</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
