<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Karınca Koloni Optimizasyonu </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link" href="/intro"><b>Anasayfa</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home"><b>Optimizasyon 1</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/map"><b>Optimizasyon 2</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><b>Hakkımızda</b></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <img class="text-left" src="assets/logo-1.svg" width="200" />
    </form>
  </div>
</nav>
