<div class="container mt-5">
  <h1>Karınca Koloni Algoritması</h1>
  <hr>
  <h3><b>Giriş</b></h3>
  <p>
    Gerçek karıncalar, yuvaları ile yiyecek kaynağı arasındaki en kısa yolu bulma kabiliyetine sahiptirler ve ayrıca
    çevredeki değişimlere de adapte olabilmektedirler. Örneğin, yuva ile yiyecek arasındaki en kısa yol belirli bir
    zamanda keşfedilir ve sonra çevre şartları nedeniyle bu en kısa yol artık en kısa yol olmaktan çıkarsa, karıncalar
    yeni en kısa yolu bulabilmektedirler. </p>
  <p>Karıncalar üzerine yapılan çalışmalar, en kısa yolu bulma kabiliyetlerinin birbirleri arasındaki kimyasal
    haberleşmenin bir sonucu olduğunu göstermiştir. Karıncalar birbirleriyle haberleşmede feromon olarak adlandırılan
    kimyasal bir madde kullanmaktadır. Karıncalar yürürken yolları üzerine bir miktar feromon maddesi bırakır ve her bir
    karınca yuva ya da yiyecek bulmak için bir doğrultuyu seçer. Bir yönün seçilme ihtimali, bu yön üzerindeki feromon
    maddesi miktarına bağlıdır. Bütün yönlerin feromon miktarı birbirine eşit ise, o zaman bütün yönler karıncalar
    tarafından aynı seçilme olasılığına sahiptir. Tüm karıncaların hızlarının ve yollara bıraktıkları feromon miktarının
    aynı olduğu kabul edildiğinde, daha kısa yollar birim zamanda daha çok feromon maddesi alacaktır.</p>
  <div class="text-center">
    <img src="../../assets/antintro.png" class="mt-5" width="360px" height="300px" alt="">
  </div>


</div>
